.calculator {
  &--container {
    background-color: rgb(175, 253, 227);
    width: 350px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
  }

  &--input-screen {
    flex: 0 0 100%;
  }

  &--button {
    flex: 0 0 25%;
  }
}
