.calculator {
  &--container {
    background-color: rgb(175, 253, 227);
    width: 350px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
  }

  &--input-screen {
    flex: 0 0 100%;
  }

  &--button {
    flex: 1 1 23%;
    margin: 2px;
  }
}
