.game {
  height: 600px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &--board {
    background-color: rgb(67, 67, 71);
    width: 500px;
    height: 500px;
  }

  &--stats {
    padding: 0px 16px;
    height: 500px;
    width: 200px;
    background-color: rgb(165, 245, 245);
    font-size: 25px;

    button {
      display: block;
      width: 100%;
      margin-top: 8px;
      background-color: rgb(42, 87, 87);
      color: white;
      padding: 8px;
      font-weight: 400;
    }
  }

  &--field-element {
    height: 49px;
    width: 49px;
    margin: 0.5px;
  }
}

.X {
  color: red;
  background-color: aqua;
}

.M {
  color: white;
  background-color: red;
}

.F {
  color: aqua;
  background-color: green;
  &:hover {
    background-color: rgb(183, 250, 183);
    cursor: pointer;
  }
}

.T {
  color: black;
  background-color: brown;
}

h3 {
  text-align: center;
}
