.game {
  height: 600px;

  &--board {
    margin: 0 auto;
    background-color: rgb(67, 67, 71);
    width: 500px;
    height: 500px;
  }

  &--stats {
    text-align: center;
  }

  &--field-element {
    height: 49px;
    width: 49px;
    margin: 0.5px;
  }
}

.X {
  color: red;
  background-color: aqua;
}

.M {
  color: white;
  background-color: red;
}
